<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title>Articles</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <style>
        .panel-default > .panel-heading{
            background: #444444;
            color: #fff;
        }
        div.table {
            width: 50%;
            margin: auto;
        }

    </style>

</head>
<body>

<div th:replace="template :: header"></div>

<div class="table">
    <div class="panel panel-default">
        <div class="panel-heading panel-heading">
            <h3 class="panel-title pull-left">
                Articles
            </h3>

            <form action="/articles/new" method="get">
                <input type="hidden" name="username" th:value="${username}" />
                <input type="hidden" name="token" th:value="${token}" />
                <button class="pull-right btn btn-success" type="submit">Add new article</button>
            </form>

            <div class="clearfix"></div>
        </div>

        <table class="table">

            <colgroup>
                <col span="1" style="width: 35%;"/>
                <col span="1" style="width: 35%;"/>
                <col span="1" style="width: 20%;"/>
                <col span="1" style="width: 5%;"/>
                <col span="1" style="width: 5%;"/>
            </colgroup>

            <thead>
            <tr>
                <th>Headline</th>
                <th>Author</th>
                <th>Votes</th>
                <th></th>
                <th></th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="article : ${articles}">
                <td><a th:href="${article.link}"><label th:text="${article.headline}">Default</label> </a></td>
                <td th:text="${article.author}">Default author</td>
                <td th:text="${article.votes}">#votes</td>
                <td>
                    <form action="/votes" th:method="post" >
                        <input type="hidden" name="username" th:value="${username}" />
                        <input type="hidden" name="token" th:value="${token}" />
                        <input type="hidden" name="articleId" th:value="${article.id}" />
                        <input type="hidden" name="vote" value="true" />
                        <button type="submit" class="btn btn-success btn-sm pull-right"><span class="glyphicon glyphicon-thumbs-up"></span></button>
                    </form>
                </td>
                <td>
                    <form action="/votes" th:method="post" >
                        <input type="hidden" name="username" th:value="${username}" />
                        <input type="hidden" name="token" th:value="${token}" />
                        <input type="hidden" name="articleId" th:value="${article.id}" />
                        <input type="hidden" name="vote" value="false" />
                        <button type="submit" class="btn btn-danger btn-sm pull-right"><span class="glyphicon glyphicon-thumbs-down"></span></button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>